#page-MoodleMail div.region-content select.select, #page-MoodleMail div.region-content table.generaltable, #page-MoodleMail div.region-content div.generalbox {
   margin-left: 20px;
   margin-right: 20px;
}

#page-MoodleMail select[multiple] {
   min-width: 250px;
   max-width: 250px;
}

#page-MoodleMail .mform {
}

#page-MoodleMail .emailtable {
    background-color: inherit;
}

#page-MoodleMail .emailtable .r1 .c0, .emailtable .r1 .c2 {
    width: 275px;
}

#page-MoodleMail .object_labels {
    margin-right: 20px;
    font-weight: bold;
}

#page-MoodleMail .emailtable .cell {
    border: none;
}

#page-MoodleMail .emailtable .r0 .cell {
    padding: .5em .5em .3em .5em;
}

#page-MoodleMail .emailtable .r1 .c1 {
    text-align: center;
    vertical-align: middle;
}

#page-MoodleMail .emailtable .r1 .c2 div {
    padding: 2px 0;
}

#page-MoodleMail .emailtable .r1 .c2, .emailtable .r0 .c1 {
    text-align: right;
}

#page-MoodleMail .mform fieldset.hidden>div {
   text-align: left;
   margin: auto;
}

#page-MoodleMail .mform #add_button, #remove_button, #add_all, #remove_all {
   width: 100px;
   height: 25px;
}

#page-MoodleMail .mform input#id_subject {
  width: 97%;
}

#page-MoodleMail .qm-readonly {

    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */

    float: left;
    width: 97%;

    background-color: #fff;
    border: 1px dotted #000;

    padding: 7px;
    margin: 1px;
}

#id_message_editor {
    width: 97%;
    height: 400px;
}
